:root {
    --transition-time: 1s;
    --sidenav-width: 250px;
    --navitem-width: 240px;
}

.sidenav {
    height: 100%;
    width: 0;
    z-index: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--darker);
    overflow-x: hidden;
    padding-top: 56px;
    text-align: center;
    transition: var(--transition-time);
}

.sidenav.active {
    width: var(--sidenav-width);
}

.navitem {
    display: block;
    width: var(--navitem-width);
    padding: 5px;
    margin: 5px;
}

.pagecontainer {
    margin-top: 56px;
    margin-bottom: 56px;
    transition: var(--transition-time);
}

.pagecontainer.active {
    margin-left: var(--sidenav-width);
}


/* Ícone de notificações */

.notifPop {
    border-style: solid;
    border-width: 1px;
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: #FF3333;
    position: absolute;
    transition: 0.3s;
    visibility: hidden;
}

.notifPop.show {
    width: 10px;
    height: 10px;
    visibility: visible;
}