.table-container {
    height: 30vh;
    overflow-y: auto;
}

.dark .table,
.dark .table>th,
.dark .table>td {
    background-color: var(--light);
}

.dark .table th,
.dark .table td,
.dark .table thead th,
.dark .table tbody+tbody {
    border-style: none;
}

.dark .table {
    color: var(--dark-font-color);
    background-color: var(--dark);
}

.dark .table th,
.dark .table td,
.dark .table thead th {
    background-color: var(--dark);
}

.dark .table.table-bordered {
    border: 0;
}

.dark .table.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(255, 255, 255, 0.05);
}

.dark .table.table-hover tbody tr:hover {
    color: var(--dark-font-color);
    background-color: var(--dark)
}


/* LIGHT */

.light .table,
.light .table>th,
.light .table>td {
    background-color: var(--light);
    color: var(--light-font-color);
}

.light .table th,
.light .table td,
.light .table thead th,
.light .table tbody+tbody {
    border-style: none;
}

.light .table-hover .table:hover {
    background-color: var(--light);
}

.light .table-hover .table:hover>td,
.light .table-hover .table:hover>th {
    background-color: var(--light);
}