:root {
    --transition-time: 1s;
    --sidenav-width: 250px;
    --navitem-width: 240px;
}


/* Barra lateral */

.sidenav {
    height: 100%;
    width: 0;
    z-index: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--darker);
    overflow-x: hidden;
    padding-top: 56px;
    padding-bottom: 56px;
    text-align: center;
    transition: var(--transition-time);
}

.sidenav.active {
    width: var(--sidenav-width);
}

.navitem {
    display: block;
    width: var(--navitem-width);
    padding: 5px;
    margin: 5px;
}

.pagecontainer {
    margin-top: 56px;
    margin-bottom: 56px;
    transition: var(--transition-time);
}

.pagecontainer.active {
    margin-left: var(--sidenav-width);
}


/* Ícone de notificações */

.notifPop {
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
    border-color: var(--dark);
    width: 0;
    height: 0;
    background-color: var(--red);
    position: fixed;
    transition: 0.3s;
    visibility: hidden;
    top: 20px;
    left: 28px;
}

.notifPop.show {
    width: 10px;
    height: 10px;
    visibility: visible;
}


/* Botões de janela */

.windowButton {
    z-index: 10;
    position: relative;
    text-align: center;
    color: #f8f9fa;
}

.windowButton .button {
    text-align: center;
    color: #f8f9fa;
    width: 30px;
    padding: 5px;
}

.windowButton .button:hover {
    color: #6c757d;
}

.windowButton .button:active {
    color: #353535;
}

.windowButton .button.closeButton:hover {
    color: #dc3545;
}

.windowButton .button.closeButton:active {
    color: #641921;
}

.center {
    display: flex;
    background-color: #E9ECEF;
    flex-direction: column;
    height: 300px;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
}